<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="../static/admin.css">
</head>
<body>

    <h2>Hello Admin 👋👋</h2>

    <div>
        <p><a href="/logout">Logout</a></p>

        <h3>Manage Your Events</h3>

        <p>
            <label>Want to add an event?</label>
            <a href="/add">Add Event</a>
        </p>

        <p>
            <label>Want to manage your events?</label>
            <a href="/events">Manage Events</a>
        </p>
    </div>

</body>
</html>
